<div>
  <div class="d-flex justify-content-center">
    @if (account) {
      <div class="col-md-8">
        <h2>
          Mật khẩu cho tài khoản [<strong>{{ account()?.login }}</strong
          >]
        </h2>

        @if (success()) {
          <div class="alert alert-success"><strong>Mật khẩu đã được thay đổi!</strong></div>
        }
        @if (error()) {
          <div class="alert alert-danger"><strong>Có lỗi xảy ra!</strong> Không thể thay đổi mật khẩu.</div>
        }
        @if (doNotMatch()) {
          <div class="alert alert-danger">Xác nhận mật khẩu không khớp!</div>
        }

        <form name="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="currentPassword">Current password</label>
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              name="currentPassword"
              placeholder="Current password"
              formControlName="currentPassword"
              data-cy="currentPassword"
            />

            @let currentPasswordRef = passwordForm.get('currentPassword')!;
            @if (currentPasswordRef.invalid && (currentPasswordRef.dirty || currentPasswordRef.touched)) {
              <div>
                @if (currentPasswordRef?.errors?.required) {
                  <small class="form-text text-danger">Bạn phải nhập mật khẩu.</small>
                }
              </div>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="newPassword">Mật khẩu mới</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nhập mật khẩu mới"
              formControlName="newPassword"
              data-cy="newPassword"
            />

            @let newPasswordRef = passwordForm.get('newPassword')!;
            @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
              <div>
                @if (newPasswordRef?.errors?.required) {
                  <small class="form-text text-danger">Bạn phải nhập mật khẩu.</small>
                }

                @if (newPasswordRef?.errors?.minlength) {
                  <small class="form-text text-danger">Mật khẩu phải có ít nhất 4 ký tự.</small>
                }

                @if (newPasswordRef?.errors?.maxlength) {
                  <small class="form-text text-danger">Mật khẩu không được vượt quá 50 ký tự.</small>
                }
              </div>
            }

            <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value" />
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Xác nhận mật khẩu mới</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Nhập lại mật khẩu mới"
              formControlName="confirmPassword"
              data-cy="confirmPassword"
            />

            @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
            @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
              <div>
                @if (confirmPasswordRef?.errors?.required) {
                  <small class="form-text text-danger">Bạn phải nhập lại mật khẩu để xác nhận.</small>
                }

                @if (confirmPasswordRef?.errors?.minlength) {
                  <small class="form-text text-danger">Mật khẩu phải có ít nhất 4 ký tự.</small>
                }

                @if (confirmPasswordRef?.errors?.maxlength) {
                  <small class="form-text text-danger">Mật khẩu không được vượt quá 50 ký tự.</small>
                }
              </div>
            }
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Lưu</button>
        </form>
      </div>
    }
  </div>
</div>
