<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (user(); as userRef) {
      <div>
        <h2>
          <span>Tài khoản</span> [<strong>{{ userRef.login }}</strong
          >]
        </h2>

        <dl class="row-md jh-entity-details">
          <dt><span>Tên đăng nhập</span></dt>
          <dd>
            <span>{{ userRef.login }}</span>
            @if (userRef.activated) {
              <span class="badge bg-success">Kích hoạt</span>
            } @else {
              <span class="badge bg-danger">Khóa</span>
            }
          </dd>

          <dt><span>Tên</span></dt>
          <dd>{{ userRef.firstName }}</dd>

          <dt><span>Họ</span></dt>
          <dd>{{ userRef.lastName }}</dd>

          <dt><span>Email</span></dt>
          <dd>{{ userRef.email }}</dd>

          <dt><span>Người tạo</span></dt>
          <dd>{{ userRef.createdBy }}</dd>

          <dt><span>Ngày tạo</span></dt>
          <dd>{{ userRef.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

          <dt><span>Người sửa</span></dt>
          <dd>{{ userRef.lastModifiedBy }}</dd>

          <dt><span>Ngày sửa</span></dt>
          <dd>{{ userRef.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

          <dt><span>Các quyền</span></dt>
          <dd>
            <ul class="list-unstyled">
              @for (authority of userRef.authorities; track $index) {
                <li>
                  <span class="badge bg-info">{{ authority }}</span>
                </li>
              }
            </ul>
          </dd>
        </dl>

        <button type="submit" routerLink="../../" class="btn btn-info">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
        </button>
      </div>
    }
  </div>
</div>
